.create-form {
    width: 80%;
    margin: 0 auto;
}

.create-form input[type=text],
.create-form input[type=number] {
    width: 100%;
}

.create-form input[type=text],
.create-form textarea {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}